*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display-box{
  border: 2px solid black;
  background: rgb(247, 246, 245);
  width: 80%;
  margin:auto;
  padding: 10px;
  height: auto;
}

.list-elements{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

h1{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}